@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Hammersmith_One';
  src: url("fonts/Hammersmith_One/HammersmithOne-Regular.ttf");
}

@font-face {
  font-family: "Open_sans";
  src: url("fonts/Open_Sans/static/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "Patua_One";
  src: url("fonts/Patua_One/PatuaOne-Regular.ttf");
}

@font-face {
  font-family: "Bricolage_Grotesque";
  src: url("fonts/Bricolage_Grotesque/static/BricolageGrotesque-Regular.ttf");
}

@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat/static/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Montserrat-md";
  src: url("fonts/Montserrat/static/Montserrat-Bold.ttf");
}

html{
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
}

.open_sans{
  font-family: 'Open_sans', sans-serif;
}

.mon_md{
  font-family: 'Montserrat-md', sans-serif;
}

.bricolage_grotesque{
  font-family: 'Bricolage_Grotesque', sans-serif;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.home-bg{
  background-image: url("assets/portfolio-bg-2.png");
}

.techStack li{
  background: #0A205A;
  color:white;
  padding: 7px;
  border-radius: 5px;
  white-space: nowrap;
  overflow: hidden;
  height: fit-content;
  text-overflow: ellipsis;
  margin: .25vw;
  font-weight: bold;
  cursor:default;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.techStack li:hover{
 background:#10D694;
 color:black;
}

.dark li{
  background: black;
  color: white;
}

.dark li:hover{
  background: #10D694;
  color:black;
}

.button {
  width: 170px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  color: #000;
  text-transform: uppercase;
  font-weight: 600;
  margin-left: 30px;
  margin-bottom: 30px;
  cursor: pointer;
  display: inline-block;
}

.button-3 {
  border: 2px solid #10D694;
  background-color: #2eb2c163;
  color: #fff;
  transition: .3s;
}

.button-3:hover {
  box-shadow: 8px 8px #10D694;
  transition: .3s;
}

.view-proj-btn{
  border-color: #10D694;
  background:#2eb2c163;
  color:white;
}

.view-proj-btn:hover{
  border-color:#10D694;
  background:#2eb2c163;
  color: White;
}

.darker-yellow{
  border-color:#294791;
}

.box-shadow{
    box-shadow: 10px 10px 10px 0px #000000b0;
}

.dark-blue-color{
  color:#0A205A
}

.hoverAnchor:hover{
  color: white
}

.onHoverDiv:hover p{
  color:#10D694;
  border-bottom: 4px #0A205A;
}

.onHoverDiv:hover {
  cursor: pointer;
}

.stickyBar{
  transform: translateY(-150%);
  opacity: 0;
  z-index: 1;
  transition: .25s;
}

.bg-gradient-1{
  background-image: linear-gradient(black, #040e2c);
}

.bg-gradient-2{
  background-image: linear-gradient(#040e2c, black);
}

.withAnim{
  transform: translateY(150px);
  opacity: 0;
}

.withAnimDown{
  transform: translateY(-150px);
  opacity: 0;
}

.withAnimLeft{
  transform: translateX(-150px);
  opacity: 0;
}

.withAnimRight{
  transform: translateX(150px);
  opacity: 0;
}

.slide-1{
  transform: translateY(0);
  opacity: 1;
  transition-duration: 1.25s;
}


.slide-2{
  transform: translateY(0);
  opacity: 1;
  transition-duration: 1.5s;
}

.slide-3{
  transform: translateY(0);
  opacity: 1;
  transition-duration: 1.75s;
}

.techStack {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.techUsed{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.ft1-img-banner{
  width: 350px;
  height: 350px;

}

.techUsed li{
  background: #0A205A;
  color:white;
  padding: 5px;
  border-radius: 5px;
  white-space: nowrap;
  overflow: hidden;
  height: fit-content;
  text-overflow: ellipsis;
  margin: .25vw;
  font-weight: bold;
  cursor:default;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}
/* .about {
  text-align: center;
  background-image: url("assets/aboutme-bg2.png");
  clip-path: polygon(100% 0, 100% 0, 100% 85%, 0 0);
} */

.box::before,
.box::after {
  content: "";
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #040e2c;
  clip-path: polygon(0 0, 100% 0, 100% 30%, -20% 0);
}

.headerDivider {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-left: 60px;
  padding-top: 10px;
  padding-bottom: 10px;

}

.headerDivider2{
  position: relative;
  height: fit-content;
  padding-top: 5px;
  padding-bottom: 5px;
}

.headerDivider2::before{
  content: "";
  border: 2px dashed #474A8A;
  position: relative;
  height: auto;
  left: -32px;
}

.headerDivider::before{
  content: "<p>";
  position: relative;
  left: -45px;
  color: #474A8A;
  font-size: 18px;
  font-weight: bold;

}

.headerDivider::after{
  content: "</p>";
  position: relative;
  left: -45px;
  color: #474A8A;
  font-size: 18px;
  font-weight: bold;
}

.FEDivider {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-left: 60px;
  padding-top: 10px;
  padding-bottom: 10px;

}

.FEDivider2{
  position: relative;
  height: fit-content;
  padding-top: 5px;
  padding-bottom: 5px;
}

.FEDivider2::before{
  content: "";
  border: 2px dashed #10D694;
  position: relative;
  height: auto;
  left: -32px;
}

.FEDivider::before{
  content: "<h1>";
  position: relative;
  left: -50px;
  color: #10D694;
  font-size: 16px;
  font-weight: bold;

}

.FEDivider::after{
  content: "</h1>";
  position: relative;
  left: -50px;
  color: #10D694;
  font-size: 16px;
  font-weight: bold;
}

.MDivider {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-left: 60px;
  padding-top: 10px;
  padding-bottom: 10px;

}

.MDivider2{
  position: relative;
  height: fit-content;
  padding-top: 5px;
  padding-bottom: 5px;
}

.MDivider2::before{
  content: "";
  border: 2px dashed yellow;
  position: relative;
  height: auto;
  left: -32px;
}

.MDivider::before{
  content: "<text>";
  position: relative;
  left: -55px;
  color: yellow;
  font-size: 15px;
  font-weight: bold;

}

.MDivider::after{
  content: "</text>";
  position: relative;
  left: -55px;
  color: yellow;
  font-size: 15px;
  font-weight: bold;
}

.navShadow{
      box-shadow: 3px 3px 10px 0px #000000b0;
}

.box {
  display:flex;
  position:relative;
}

#light {
  position: absolute;
  width: 500px;
  height: 500px;
  background-color: #fff;
  z-index: 10;
  -webkit-box-shadow: inset 0px 0px 150px 166px rgba(0,0,0,1);
  -moz-box-shadow: inset 0px 0px 150px 166px rgba(0,0,0,1);
  box-shadow: inset 0px 0px 150px 166px rgba(0,0,0,1);

}

.contact-box::before,
.contact-box::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #0A205A;
  clip-path: polygon(-20% 0, 100% 0, 100% 50%, 0 50%);
}

.contact-box {
  display:flex;
  position:relative;
}

.top-left-box::before,
.top-left-box::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #0A205A;
  clip-path: polygon(-20% 0, 100% 0, 100% 30%, 0 100%);
}

.top-left-box {
  display:flex;
  position:relative;
}

.top-right-box::before,
.top-right-box::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #040e2c;
  clip-path: polygon( -20% 0, 100% 0, 100% 20%, 0 10%);
}

.top-right-box {
  display:flex;
  position:relative;
}

.top-box::before,
.top-box::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #040e2c;
  clip-path: polygon( -20% 0, 100% 0, 100% 10%, 0 10%);
}

.top-box {
  display:flex;
  position:relative;
}

.project {
  background-image: url("assets/projects-bg.png");
}

.contact {
  background-color: #040e2c;
}

.yellow-color{
  color:#10D694;
}

.yellow-border{
  border-color:#10D694;
}

.white-stroke{
 
  text-shadow: 2px 2px 4px #000000;
  /* text-shadow:
-1px 0px 0px black,
1px 0px 0px black,
0px -1px 0px black,
0px 1px 0px black; */
}
.navItem{
  cursor: pointer;
}

.navHover::after{
  transition: all ease-in-out .2s;
  background: none repeat scroll 0 0 #10D694;
  content: "";
  display: block;
  margin-top: 10px;
  height: 6px;
  width: 0; 
}
.navHover:hover::after{
  width: 100%;
}
.currentPage::after{
  background: none repeat scroll 0 0 #10D694;
  content: "";
  display: block;
  height: 6px;
  width: 100%; 
}
.navItem:hover{
  /* color:rgb(183, 24, 56); */
  color:rgb(16, 214, 148);
}

.img-container-1{
  width: 200px;
  height: 200px;
}

.img-container-2{
  width: 300px;
  height: 300px;
}

.img-banner{
  width: 200px;
  height: 200px;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.red-color{
  color: rgb(195, 29, 65);
}

#flashlight {
  --Xpos: 50vw;
  --Ypos: 50vh;
}
#flashlight:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  z-index:1;
  position: fixed;
  pointer-events: none;
  background: radial-gradient(
    circle 9em at var(--Xpos) var(--Ypos),
    rgba(46, 178, 193, 0.389),
    rgba(238, 236, 236, 0)
  );
}

.z-index-1{
  z-index: 1;
}

@keyframes fadeUp{
  0% { opacity: 0; 
  }
  100% { 
    opacity: 1; 
    transform: translateY(0);}
}